<!-- FOOTER -->
<footer id="footer" class="bg-color3" data-selector="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6 text-right">
                <ul class="soc-list">
                    <li><a href="https://www.facebook.com/bigdoudou.fr" target="_blank"><i class="fa fa-facebook-square fa-2x" data-selector=".icon"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <img class="logo" src="{{ asset('appbundle/images/logo-ours-bigdoudou.png') }}" style="width: 48px;" data-selector="img">
                <span class="editContent" data-selector="Footer">© 2016 <br>Bigdoudou</span>
            </div>
        </div>
    </div>
</footer>