<nav class="head-nav navbar bg-color3" data-selector="nav">
    <div class="text-center container-fluid"> <a class="navbar-brand goto" href="{{ path('home') }}" data-selector="a.btn, a.download-btn, button.btn, a.goto"><img class="img-logo" src="{{ asset('appbundle/images/logo-bigdoudou.png') }}" alt="BigDoudou" data-selector="img"></a>
        <span class="promo_head">Offre de lancement : 10% de réduction sur les pré-commandes</span>
    </div>
</nav>