<nav class="head-nav navbar bg-color3" data-selector="nav">
    <div class="container-fluid"> <a class="navbar-brand goto" href="{{ path('home') }}" data-selector="a.btn, a.download-btn, button.btn, a.goto"><img class="img-logo" src="{{ asset('appbundle/images/logo-bigdoudou.png') }}" alt="BigDoudou" data-selector="img"></a>
        <button class="round-toggle navbar-toggle menu-collapse-btn collapsed" data-toggle="collapse" data-target=".navMenuCollapse" data-selector="Footer"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
</nav>