parameters:
    database_host: ~
    database_port: ~
    database_name: ~
    database_user: ~
    database_password: ~

    mailer_transport: ~
    mailer_host: ~
    mailer_port: ~
    mailer_user: ~
    mailer_password: ~

    secret: ~

    payplug_key_test: ~
    payplug_key_live: ~
    payplug_sandbox: ~

    paypal_email: ~
    receiver_email: ~

    admin_pass: ~
