.title_step {
    position: absolute;
    top: 50%;
}
.download-btn {
    cursor: pointer;
    background-color: rgba(0, 192, 255, 1);
    color: white;
    width: 100%;
    padding-left: 90px
}
.img-step{
    width: 58px;
    float: left;
    margin-right: 30px;
}
.img-logo {
    height: 70%;
}
.head-nav {
    background-color: rgba(255, 255, 255, 0.48);
    position: fixed;
    width: 100%;
}
.title_doudou {
    margin: 60px 0 30px 0;
}
textarea.textarea-doudou {
    padding: 10px;
    background-color: white;
    font-style: italic;
    box-shadow: 0px 0px 10px 3px rgba(0, 192, 255, 0.5) inset;
}
#footer {
    padding: 20px 0;
}

@media (max-width: 992px) {
    .promo_span {
        color:red;
        font-size: 1.3em;
        font-weight: 500;
    }
    .promo_head {
        display: none;
    }
    #intro-half-left-3 {
        background-image: url('/appbundle/images/bg52-gau.jpg');
    }
}

@media (min-width: 992px) {
    .promo_logo {
        top: 5%;
        position: absolute;
    }
    .promo_head {
             color:red;
             font-size: 1.3em;
             font-weight: 500;
             line-height: 60px;
         }
    .promo_span {
        display: none;
    }
    #intro-half-left-3 {
        background-image: url('/appbundle/images/bg52.jpg');
    }
}
@media (max-width: 768px) {
    .promo_logo > img {
        width: 20% !important;
        min-width: 140px;
    }
}
label {
  border-radius: 3px;
}

/* hide input */
input.radio:empty {
    margin-left: -999999px;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    float: left;
    margin-top: 2em;
    cursor: pointer;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    font-size: 2em;
    left: 0;
    content: '';
    width: 3em;
    background: rgb(222, 222, 222);
    border-radius: 3px 0 0 3px;
}

/* toggle hover */

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    background-color: #9CE2AE;
}
.download-btn .fa {
    font-size: 40px;
    position: absolute;
    top: 17px;
    left: 23px;
}

@media (max-width: 767px) {
    .h_btn {
        height: 0;
    }
}

#nounours-choice {
    padding-top: 45px;
    padding-bottom: 15px;
}
