.title_step {
    position: absolute;
    top: 50%;
}
.download-btn {
    cursor: pointer;
    background-color: rgba(0, 192, 255, 1);
    color: white;
    width: 100%;

    height: 43px;
    padding: 14px;
    padding-left: 67px;
    font-weight: bold;
    font-size: 0.9em;
}
.img-step{
    width: 58px;
    float: left;
    margin-right: 30px;
}
.img-logo {
    height: 70%;
}
.head-nav {
    background-color: rgba(255, 255, 255, 0.48);
    position: fixed;
    width: 100%;
}
.title_doudou {
    margin: 60px 0 30px 0;
}
textarea.textarea-doudou {
    padding: 10px;
    background-color: white;
    font-style: italic;
    box-shadow: 0px 0px 10px 3px rgba(0, 192, 255, 0.5) inset;
}
#footer {
    padding: 20px 0;
    margin-top: 50px;
}

@media (max-width: 992px) {
    .promo_span {
        color:red;
        font-size: 1.3em;
        font-weight: 500;
    }
    .promo_head {
        display: none;
    }
    #intro-half-left-3 {
        background-image: url('/appbundle/images/bg52-gau.jpg');
    }
}

@media (min-width: 992px) {
    .promo_logo {
        top: 5%;
        position: absolute;
    }
    .promo_head {
             color:red;
             font-size: 1.3em;
             font-weight: 500;
             line-height: 60px;
         }
    .promo_span {
        display: none;
    }
    #intro-half-left-3 {
        background-image: url('/appbundle/images/bg52.jpg');
    }
}
@media (max-width: 768px) {
    .promo_logo > img {
        width: 20% !important;
        min-width: 140px;
    }
}
label {
  border-radius: 3px;
}

/* hide input */
input.radio:empty {
    margin-left: -999999px;
    height: 1px;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    float: left;
    cursor: pointer;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    font-size: 2em;
    left: 0;
    content: '';
    width: 2em;
    background: rgb(222, 222, 222);
    border-radius: 3px 0 0 3px;
}

/* toggle hover */

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio ~ label:before {
    height: 43px;
}
input.radio:checked ~ label:before {
    background-color: #9CE2AE;
}
.download-btn .fa {
    font-size: 30px;
    position: absolute;
    top: 8px;
    left: 18px;
}

@media (max-width: 767px) {
    .h_btn {
        height: 0;
    }
}

#nounours-choice {
    padding-top: 45px;
    padding-bottom: 15px;
}

.control-label {
    color: #00c0ff;
    font-weight: bold;
}
@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
h1 {
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
  color: #777;
}

.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
}

ul.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 99999;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

ul.checkout-bar {
    z-index: 1;
}

@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -30px;
    z-index: 0;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 15%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 30px 0 0;
    padding: 0;
    text-align: center;
    width: 32%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -45px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -30px;
    width: 100%;
    z-index: 99;
  }
  ul.checkout-bar li.end:after {
    border-radius: 15px;
    width: 58%;
  }
}
.mini_title {
    font-weight: bold;
    color: #00c0ff;
}
.subtext {
    font-weight: bold;
    color: #8a8a8a;
}
.marginT30 {
    margin-top: 30px;
}
@media (min-width: 767px) {
    .marginT80lg {
        margin-top: 80px;
    }
}
.marginB20 {
    margin-bottom: 20px;
}
