{% extends '::layout.html.twig' %}
{% block body %}
    <section id="benefits-line" class="bg-color3 third-padding pattern-bg" style="background-image: url('{{ asset('appbundle/images/pattern-bg4.jpg') }}');">
        <div class="container" style="margin-top: 120px;">
            <h2 class="big-title text-center" data-selector="h2">Le message</h2>
            <div class="row">
                <div class="col-sm-8 col-md-offset-2">
                	<form action="">
                		<textarea name="message">
                		</textarea>
                	</form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}