{% extends '::layout.html.twig' %}
{% block body %}
    <section id="benefits-line" class="bg-color3 section-nounours-choice third-padding pattern-bg" style="background-size: 100%;">
        <div class="container" style="margin-top: 60px;">
            <div class="col-sm-8 col-md-offset-4">
                <h2 class="text-center" data-selector="h2">Votre message</h2>
                <div class="row">
                    <div class="col-sm-8 col-md-offset-2">
                    	{{ form_start(form, {'attr': {'role': 'form', 'id': 'form'} }) }}
                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message', 'style': 'background-color: rgba(128, 128, 128, 0.16);', 'rows': '8'}}) }}
                            <div class="col-sm-6 col-sm-offset-6" style="margin-top: 30px;">
                                <button type="submit" id="rent_submit" class="btn btn-lg btn-block btn-primary">Enregistrer</button>
                            </div>
                        {{ form_rest(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}